<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

	<property name="LOG_DIR" value="/logs/cbs-fakesmtp-container/"/>
	<property name="APPLICATION_NAME" value="fake-smtp" />

	<appender name="all-appender-standard" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${LOG_DIR}/mail.log</File>
		<encoder>
			<pattern>%d{dd MMM yyyy HH:mm:ss} %-5p %c - %m%n</pattern>
		</encoder>
	</appender>
	
</configuration>
